.page {
		margin: 0;
		padding: 0;
		background: #f5f5f5;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
}

@media screen and (max-width: 1040px) {
	header {
		max-width: 319px;
		margin: 0 auto;
		padding: 5px;
	}
}