.page__list {
	display: flex;
	margin: 0;
	padding: 0;
}


@media screen and (max-width: 1040px) {
	.page__list {
		max-width: 319px;
		margin: 0 auto;
		justify-content: center;
		flex-direction: column;
	}
}